<div id="question-show">
<%= render partial: "layouts/navigation_main" %>

<div class="container-fluid question-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1><%= @question.title %></h1>
      <% if @question.answer_video %>
        <iframe width="100%" height="422" src="<%= @question.answer_video %>" frameborder="0" allowfullscreen></iframe>
      <% elsif !@question.answer_text %>
        <div class="awaiting-answer">
          <%= fa_icon "clock-o" %> This question hasn't been answered yet. Please wait while one of our experts records a response.
        </div>
      <% end %>
      <div class="text">
        <h2>Question</h2>
        <div class="text-container">
          <p><%= @question.question_text %></p>
        </div>
        <% if @question.answer_text%>
          <h2>Answer</h2>
          <div class="text-container">
            <div class="answerer">
            <img src="<%= @question.expert.photo_url %>" />
            <div class="answerer-name clear-fix">
              <%= @question.expert.first_name %>&nbsp;
              <%= @question.expert.last_name %>
            </div>
            <p><%= @question.answer_text %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
