<div id="authentication">
<header class="centered">
  <%= link_to "SimpleCTO", :root, class: "logo" %>
</header>

<div class="container body">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 centered">
      <% if !current_user.subscribed %>
        <%= form_tag subscriptions_path do %>
          <%= hidden_field_tag "product", "monthly_subscription" %>
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-amount="15000"
            data-name="Unlimited Video Q&A"
            data-description="Risk Free - Cancel at Anytime"
            data-zip-code="true"
            data-locale="auto"
            data-email=<%= current_user.email %>
            data-panel-label="Subscribe"
            data-label="Subscribe">
          </script>
        <% end %>
      <% else %>
        <h1>You are Already Subscribed</h1>
      <% end %>
    </div>
  </div>
</div>
</div>



