<div id="authentication-forms">
<header class="centered">
  <%= link_to "SimpleCTO", :root, class: "logo" %>
</header>

<div class="container body">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 centered">
      <h2>Please Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, placeholder: "Email", autofocus: true %>
        </div>

        <div class="field">
          <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me, class: "checkbox" %>
            <%= f.label :remember_me, class: "checkbox-label" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "button pill" %>
        </div>
      <% end %>
      <div class="devise-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
</div>
