
<nav id="navigation" class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-items" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo">
        <a href="<%= root_path %>">
          <div class="logo-image"></div>SimpleCTO
        </a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="nav-items">
        <div class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <span class="nav-button">
              <%= link_to 'Browse', questions_path %>
            </span>
            <span class="nav-button">
              <%= link_to "Ask", new_question_path, class: "accent" %>
            </span>
            <div class="dropdown">
              <span class="nav-button btn btn-default dropdown-toggle dropdown-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Services
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to "Development", development_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Call a Consultant", consultation_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Software Jumpstart", software_architecture_path %></li>
              </ul>
            </div>
            <div class="dropdown">
              <span class="nav-button btn btn-default dropdown-toggle dropdown-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Free Content
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="https://blog.simplecto.com">Blog</a></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Tech Lingo Cheatsheet", tech_lingo_path %></li>
              </ul>
            </div>
            <span class="static nav-button">|</span>
            <span class="secondary nav-button">
              <%= link_to 'Log out', destroy_user_session_path, :method=>'delete' %>
            </span>
          <% else %>
            <span class="nav-button">
              <%= link_to "Ask an Expert", new_question_path, class: "accent" %>
            </span>
            <div class="dropdown">
              <span class="nav-button btn btn-default dropdown-toggle dropdown-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Services
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to "Development", development_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Call a Consultant", consultation_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Software Jumpstart", software_architecture_path %></li>
              </ul>
            </div>
            <div class="dropdown">
              <span class="nav-button btn btn-default dropdown-toggle dropdown-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Free Content
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="https://blog.simplecto.com">Blog</a></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Tech Lingo Cheatsheet", tech_lingo_path %></li>
              </ul>
            </div>
            <span class="static nav-button">|</span>
            <span class="secondary nav-button">
              <%= link_to 'Sign up', new_user_registration_path %>
            </span>
            <span class="secondary nav-button">
              <%= link_to 'Log in', new_user_session_path %>
            </span>
          <% end %>
        </div>
      </div>
  </div>
</nav>
