<% content_for :head do %>
  <%= stylesheet_link_tag "themes/white" -%>
<% end %>
<div id="authentication">
<nav class="centered">
  <div class="logo">SimpleCTO</div>
</nav>

<div class="container-fluid body">
  <div class="row">
    <div class="centered col-md-6 col-md-offset-3">
      <h2>Sign up to ask a question</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, placeholder: "Email", autofocus: true %>
        </div>

        <div class="field">
          <%= f.password_field :password, placeholder: "Password",autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off" %>
        </div>

        <div class="field half-width first">
          <%= f.text_field :first_name, placeholder: "First Name", autofocus: true %>
        </div>

        <div class="field half-width">
          <%= f.text_field :last_name, placeholder: "Last Name", autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "button pill" %>
        </div>
      <% end %>
      <p>Already have an account? <%= link_to 'Log in', new_user_session_path %></p>
    </div>
  </div>
</div>
</div>
